<section class="body-content" id="about">


	<h1>What We Do</h1>
	<h4>As the recipient of the 2013 Red Tricycle Awards for “Best Drop off Childcare Service in NYC”, Project Playdate's drop off group playdates and pajama parties makes sure the kids look forward to their parents taking a little “me time” as much as moms and dads do!</h4>

	<p><img src="images/about-1.jpg" class="inline-img-left">Project Playdate specializes in unique drop off group playdates for kids. Through partnership with NYC's favorite play spaces, Project Playdate's activity-packed pajama parties provide an enriching environment for children, 2-7 years old, to play and socialize with other kids. With a one babysitter to every three children ratio, their team can devote individualized attention to the needs and interests of each child. Project Playdate brings these events to the daytime with drop off playdates at the BEST kid-friendly attractions in New York City for ages 2-10. From pajama parties to zoo trips, Project Playdate gives parents some well-deserved time off by running safe and educational, social and engaging drop off playdates for kids. Proceeds donated to help young moms in New York City.</p>

	<div class="expand-wrap" ng-class="{'expanded':isExpanded1}">

		<h2 ng-click="isExpanded1 = !isExpanded1"><span class="icon icon-plus"></span>Pajama Parties</h2>

		<div class="expand-body">
		
			<p>Most known for its fun, safe, and engaging pajama parties at the best play spaces in town, Project Playdate can be found every weekend evening all over NYC. You and your dearest enjoy a night on the town while the kids have a blast under careful and qualified supervision. Pajama parties include healthy dinner, story time, arts & crafts, games, music, a featured film and much more!</p>

			<img src="images/about-2.png" class="inline-img-full">

		</div>

	</div>

	<div class="expand-wrap" ng-class="{'expanded':isExpanded2}">

		<h2 ng-click="isExpanded2 = !isExpanded2"><span class="icon icon-plus"></span>Sunny Play</h2>

		<div class="expand-body">

			<p>Project Playdate brings its expertise in drop off evening pajama parties to the daytime! These scheduled and structured 3 hour field trips occur on Sundays, holidays and breaks at major New York City attractions. Chaperoned by the best child care providers from UrbanSitter, these events take advantage of all the city has to offer our children and we’re pretty sure you can take advantage of a few hours off during the day.</p>

			<img src="images/about-3.png" class="inline-img-full">

		</div>

	</div>

	<div class="expand-wrap" ng-class="{'expanded':isExpanded3}">

		<h2 ng-click="isExpanded3 = !isExpanded3"><span class="icon icon-plus"></span>Private Kid's Tours, Parties and Wedding Care</h2>

		<div class="expand-body">

			<p>Project Playdate will plan, coordinate, and supervise any field trip or in home/office children’s party of your choice. We’ll send invites to your friends, create a structured agenda packed with activities for the day, and take care of all the details including transportation, admission, care and/or any other special features. At your wedding, we will use this model to host a party for children on site so that parents and adults can enjoy the bar and dance floor carefree.</p>

		</div>

	</div>

	<div class="expand-wrap" ng-class="{'expanded':isExpanded4}">

		<h2 ng-click="isExpanded4 = !isExpanded4"><span class="icon icon-plus"></span>Meet Trustworthy Babysitters</h2>

		<div class="expand-body">

			<p>Local childcare providers, “College Nannies + Tutors” and “UrbanSitter”, sponsor professional caretakers to work Project Playdate events so families can meet the perfect sitter for any of their private care needs.</p>

		</div>

	</div>

	<div class="expand-wrap" ng-class="{'expanded':isExpanded5}">

		<h2 ng-click="isExpanded5 = !isExpanded5"><span class="icon icon-plus"></span>Families Funding Families</h2>

		<div class="expand-body">

			<p>Did you know that while Project Playdate takes care of your children, your contribution takes care of others? Project Playdate is the fundraising arm of Powerhouse, a 501(c)3 nonprofit that funds programs addressing family homelessness in New York City. Powerhouse has organized health workshops and skills training programs, staffed collection drives with and provided class sponsorships to promote the professional development of homeless teen mothers.</p>

		</div>

	</div>

	<h4>New York, we’ve concluded, is a fabulous city. We continue to be impressed by its world class venues, and world-even-classier citizens who make our work possible. We’re honored to be part of this urban ecosystem and are committed to continue bringing its many people and resources together to help the city thrive.</h4>

</section>