<section class="body-content" id="home">

	<div class="home-left">

		<p class="home-intro"><img src="images/logo-body.png">From museums and parks to theater and wine bars, New York is brimming with things to do day and night. The hard part is finding time to do it! ProjectPlaydate makes that a little easier. Our daytime field trips, evening pajama parties, and custom private events give you a break while making sure that the kids get a fun time of their own. <a href="">Learn More.</a></p>

		<div class="btns-home">
			<div class="btn btn-secondary-light">Sign-Up For a Playdate</div>
			<div class="btn btn-secondary">Book a Private Event</div>
		</div>

	</div>

	<div class="home-right">

		<h2>Become a Member <span class="icon icon-arrow-right"></span></h2>

		<div class="home-right-img">
			<img src="images/home-right.jpg">
		</div>

		<p>Want to get more involved with the Social Impact side of ProjectPlaydate? With out new <a href="">Mom Dates program</a> you can teach a workshop, offer a skill, sponsor a class or become a mentor for a homeless young mother.</p>

		<form class="newletter-home">

			<input class="newsletter-signup" type="text" placeholder="Join the mailing list">
			<div class="btn btn-primary btn-join">join</div>

		</form>

	</div>

</section>