<section class="body-content" id="sponsors">

<h1>Plan the Perfect Date Night</h1>
<h4>Need help planning the perfect date night experience? Check out these businesses that serve the neighborhood you’ll be visiting. Get some serious VIP treatment by rolling in as a Project Playdate parent.</h4>

<p><img src="images/sponsors-1.jpg" class="inline-img-left">Project Playdate members - save some time and let us make the arrangements for you. Check the businesses you’d like to connect with in the form below and we’ll contact them on your behalf. Just let us know any important details that should be included in the arrangements.</p>

<div class="expand-wrap" ng-class="{'expanded':isExpanded1}">

	<h2 ng-click="isExpanded1 = !isExpanded1"><span class="icon icon-plus"></span>Additional Child Care</h2>

	<div class="expand-body">

		<p><strong>UrbanSitter:</strong> Founded by four busy parents, Urbansitter is an online resource where parents go to find & book babysitters recommended by people they know. Looking for the occasiona sitter, full-time nanny, or last minute help? Urbansitter will find available sitters—and show you the ones recommended by parents in your social circles (mother’s group, child's school, sports team, etc.). Search sitters by date & time, book jobs, and even pay online—it's quick, easy and efficient.</p>

		<p><strong>College Nannies and Tutors:</strong> Offer a complete set of full-service childcare services including nanny placement, on-call nannies and professional babysitting. As a Project Playdate parent, your sign up fee is waived. You'll also get 2 hours of FREE private care for your first booking, plus 15% off any part-time or full-time nanny placement. This is a deal you won't want to miss!</p>

	</div>

</div>

<div class="expand-wrap" ng-class="{'expanded':isExpanded2}">

	<h2 ng-click="isExpanded2 = !isExpanded2"><span class="icon icon-plus"></span>Businesses We Love</h2>

	<div class="expand-body"></div>

</div>

<div class="expand-wrap" ng-class="{'expanded':isExpanded3}">

	<h2 ng-click="isExpanded3 = !isExpanded3"><span class="icon icon-plus"></span>Become a Sponsor</h2>

	<div class="expand-body"></div>

</div>

</section>